header {
  margin-top: 45px;

  border-bottom: 1px solid rgba(84, 84, 84, 0.7);

  padding-bottom: 32px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #af1212;
  border-radius: 20px;
  background-image: url(./images/brooke-lark-pXEsx3kRuNc-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.card {
  background-color: #f88181ea;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* h1 {
  font-size: 36px;
  font-family: "Georgia", serif;
  text-transform: uppercase;
} */

.button {
  font-size: 40px;
  border-style: none;
  color: #e45a5a;
  width: 100%;
  padding: 0;
  margin-bottom: 32px;
  font-weight: 500;
  line-height: 20px;
  height: 60px;
  border: none;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  font-family: "Inter", Arial, sans-serif;
  border-radius: 4px;
}
.button:hover {
  opacity: 0.7;
}

.container {
  position: relative;
}
.valentines {
  position: relative;
  top: 50px;
  cursor: pointer;
  animation: up 3s linear infinite;
}
.envelope {
  position: relative;
  width: 300px;
  height: 200px;
  background: #e45a5a;
  display: grid;
  place-items: center;
}

.envelope__container {
  position: fixed;
}
.envelope::before {
  content: "";
  position: absolute;
  width: 212px;
  height: 212px;
  background: #e45a5a;
  transform: rotate(45deg);
  top: -105px;
  left: 44px;
  border-radius: 30px 0 0;
}
.envelope__front {
  position: absolute;
  border-right: 180px solid #fa9191;
  border-top: 95px solid transparent;
  border-bottom: 100px solid transparent;
  left: 120px;
  top: 5px;
  width: 0;
  height: 0;
  z-index: 10;
}

.envelope__front::before {
  position: absolute;
  content: "";
  border-left: 300px solid #f7a9a9;
  border-top: 195px solid transparent;
  left: -120px;
  top: -95px;
}
.letter {
  position: relative;
  width: 250px;
  height: 180px;
  background: #fff;
  border-radius: 2px;
  display: grid;
  place-items: center;
  transition: 1s;
}
.letter::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 2px solid black;
}
.valentines:hover .letter {
  transform: translateY(-100px);
  background-color: #fff;
  color: black;
  border: 5px solid rgb(226, 20, 47);
}
@keyframes up {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}
.valentines::before {
  content: "";
  position: absolute;
  width: 330px;
  height: 25px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  top: 265px;
  left: -15px;
}
.text {
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-bottom: 120px;
}

.modal {
  position: fixed;

  top: 0;

  left: 0;

  bottom: 0;

  right: 0;

  background-color: rgba(0, 0, 0, 0.5);

  z-index: 999;

  align-items: center;

  justify-content: center;

  padding: 0 19px;

  transition: visibility 0.3s, opacity 0.6s;

  visibility: hidden;

  display: flex;

  opacity: 0;
}

.modal_opened {
  transition: visibility 0.3s, opacity 0.3s;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background-color: #fff;
  margin: auto;
  padding: 36px;
  width: 600px;
  height: 800px;
  border-radius: 10px;
  position: relative;
}

.modal__close {
  background-image: url(../images/closebutton.svg);
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: calc(100% + 5px);

  left: calc(100% + 5px);

  cursor: pointer;
}

.modal__heading {
  color: #000;

  max-width: 330px;

  max-height: 23px;

  font-size: 24px;

  font-weight: 900;
}

.modal__button {
  width: 100%;

  height: 50.51px;

  background: #000;

  color: rgba(255, 255, 255, 1);

  font-size: 18px;

  font-weight: 400;

  margin-top: 48px;

  border: none;

  border-radius: 2px;
}

.modal__close:hover {
  opacity: 0.8;

  transition: 0.3s ease;

  cursor: pointer;
}
