.letter {
  position: relative;
  width: 250px;
  height: 180px;
  background: #fff;
  border-radius: 2px;
  display: grid;
  place-items: center;
  transition: 1s;
}
.letter::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 2px solid black;
}
.letter__content {
  font-size: 20px;
}
.letter__copyright {
  font-size: 20px;
  font-weight: 500;
}
@keyframes up {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}
.letter__body {
  font-size: 20px;
  font-weight: 400;
}
.letter__body_color {
  color: #ee0b6a;
}
